layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left "{tabs}"
                format_center   "#[fg=black,bold] {session}{mode}"
                format_right  "#[fg=#6867AF,bold]  {datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=black]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[fg=blue] "
                mode_locked        "#[fg=red] "
                mode_resize        "#[fg=#fab387] 󰆕"
                mode_pane          "#[fg=#fab387]  "
                mode_tab           "#[fg=cyan]  "
                mode_scroll        "#[fg=yellow] 󰍽"
                mode_enter_search  "#[fg=#fab387] 󱎸 "
                mode_search        "#[fg=magenta] "
                mode_rename_tab    "#[fg=cyan] 󰘙 "
                mode_rename_pane   "#[fg=#fab387] 󱥇 "
                mode_session       "#[fg=#fab387] 󱂬 "
                mode_move          "#[fg=#fab387]  "
                mode_prompt        "#[fg=green]  "
                mode_tmux          "#[fg=#ffc387]  "

                tab_normal   "#[fg=black] {name} "
                tab_active   "#[fg=#6C7086,bold,italic] {name} "
                tab_separator           "#[fg=cyan,bold] ⋮ "

                tab_sync_indicator       " "
            	tab_fullscreen_indicator "󱟱 "
            	tab_floating_indicator   "󰉈 "

                datetime        "#[fg=black,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Paris"
            }
        }
    }
    tab name="󰎦" focus=true borderless=true
    tab name="󰎩"
    tab name="󰎬"
}
