# This is Git's per-user configuration file.
[user]
	email = ekofoeddy@gmail.com
	name = Eddy Ekofo
[init]
    defaultBranch = master
[http]
    sslVerify = false

[credential "https://github.com"]
	helper =
	helper = !/usr/local/bin/gh auth git-credential

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Catppuccin-mocha
    navigate = true
    dark = true

[core]
	filemode = false
[interactive]
    diffFilter = delta --color-only

[delta "decorations"]
    commit-decoration-style = bold yellow ul
    file-style = bold blue ul
    file-decoration-style = none
    hunk-header-decoration-style = omit
    hunk-header-file-style = magenta
    line-numbers = true
    line-numbers-right-style = "#5c6370"
    line-numbers-left-style = "#5c6370"
    line-numbers-minus-style = "#9A353D"
    line-numbers-plus-style = "#109868"
    minus-emph-style = bold syntax "#800000"
    minus-empty-line-marker-style = normal "#800000"
    minus-non-emph-style = dim syntax "#400000"
    minus-style = dim syntax "#400000"
    plus-emph-style = bold syntax "#1e453e"
    plus-empty-line-marker-style = normal "#002800"
    plus-non-emph-style = dim syntax "#092919"
    plus-style = bold syntax "#092919"
    whitespace-error-style = reverse "#f38ba8"
    zero-style = dim syntax

[diff]
    ignoreSubmodules = dirty
[alias]
	ll = log --graph --format=\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"

[maintenance]
	repo = /Users/eddyekofo/.config/zsh/znap
	repo = /Users/eddyekofo/.config/zsh/Aloxaf/fzf-tab
	repo = /Users/eddyekofo/.config/zsh/MenkeTechnologies/zsh-expand
	repo = /Users/eddyekofo/.config/zsh/MichaelAquilina/zsh-you-should-use
	repo = /Users/eddyekofo/.config/zsh/Tarrasch/zsh-bd
	repo = /Users/eddyekofo/.config/zsh/bigH/git-fuzzy
	repo = /Users/eddyekofo/.config/zsh/esc/conda-zsh-completion
	repo = /Users/eddyekofo/.config/zsh/hlissner/zsh-autopair
	repo = /Users/eddyekofo/.config/zsh/jeffreytse/zsh-vi-mode
	repo = /Users/eddyekofo/.config/zsh/ohmyzsh/ohmyzsh
	repo = /Users/eddyekofo/.config/zsh/zap-zsh/fzf
	repo = /Users/eddyekofo/.config/zsh/zap-zsh/supercharge
	repo = /Users/eddyekofo/.config/zsh/zap-zsh/vim
	repo = /Users/eddyekofo/.config/zsh/zdharma-continuum/fast-syntax-highlighting
	repo = /Users/eddyekofo/.config/zsh/zsh-users/zsh-autosuggestions
	repo = /Users/eddyekofo/.config/zsh/zsh-users/zsh-completions
	repo = /Users/eddyekofo/.config/zsh/zsh-users/zsh-history-substring-search
	repo = /Users/eddyekofo/.config/zsh/zsh-users/zsh-syntax-highlighting
