[submodule "nvim"]
	path =  ./nvim/
	url = https://github.com/eddyekofo94/nvim.git

[submodule "vim"]
	path =  ./plugins/vim/.vim/
	url = git@github.com:eddyekofo94/.vim.git

[diff]
  ignoreSubmodules = dirty
